* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.calculator-section {
  display: flex;
  justify-content: flex-end;
  padding-top: 18rem;
}

.calculator {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-wrap: wrap;
  gap: 10px;
  width: 50vw;
}

.numbers {
  font-size: 1.2rem;
  font-weight: 900;
  border-radius: 10px;
  cursor: pointer;
  background-color: #fff;
}

.numbers:hover {
  background-color: #dcdcdc;
}

.operators {
  background-color: #ffa500;
  font-size: 1.2rem;
  font-weight: 900;
  cursor: pointer;
  border-radius: 10px;
}

.operators:hover {
  background-color: #b6811f;
  transition: all 0.3s;
}

.results {
  background-color: #808080;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  grid-column-start: 1;
  grid-column-end: 5;
  color: #fff;
  padding: 5px;
  font-size: 2rem;
  font-weight: 900;
}

button {
  width: 90px;
  height: 50px;
}
