* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.calculator-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.calculator {
  display: grid;
  grid-template-columns: 1fr;
}

.numbers {
  font-size: 1.2rem;
  cursor: pointer;
  background-color: #fff;
}

.span-zero {
  grid-column: span 2;
  width: 273px;
}

.numbers:hover {
  background-color: #dcdcdc;
}

.operators {
  display: grid;
  background-color: #ffa500;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
}

.operators:hover {
  background-color: #b6811f;
  transition: all 0.3s;
}

.results {
  background-color: #808080;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 70px;
  grid-column-start: 1;
  grid-column-end: 5;
  color: #fff;
  padding: 5px;
  font-size: 2.5rem;
  font-weight: 900;
}

button {
  width: 10vw;
  height: 100px;
}
